#Classificando animais

##Importando e transformando os Dados

In [1]:
import pandas as pd

dados = pd.read_csv("https://raw.githubusercontent.com/leonardocroda/introducao-classificacao/master/animals.csv")
dados.head()

  animal_name  hair  feathers  eggs  ...  fins  legs  tail  class_type
0    aardvark     1         0     0  ...     0     4     0      Mammal
1    antelope     1         0     0  ...     0     4     1      Mammal
2        bass     0         0     1  ...     1     0     1        Fish
3        bear     1         0     0  ...     0     4     0      Mammal
4        boar     1         0     0  ...     0     4     1      Mammal

[5 rows x 15 columns]

In [2]:
transform = {
    "Mammal":0,
    "Bird":1,
    "Reptile":2,
    "Fish":3,
    "Amphibian":4,
    "Bug":5
}
dados['class_number'] = dados.class_type.map(transform)
dados = dados.drop(columns=['class_type'])

dados.head()

  animal_name  hair  feathers  eggs  ...  fins  legs  tail  class_number
0    aardvark     1         0     0  ...     0     4     0             0
1    antelope     1         0     0  ...     0     4     1             0
2        bass     0         0     1  ...     1     0     1             3
3        bear     1         0     0  ...     0     4     0             0
4        boar     1         0     0  ...     0     4     1             0

[5 rows x 15 columns]

##Construindo o modelo de previsão

###Treino do modelo

In [3]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
dados = dados.sample(90)

x= dados[["hair", "feathers","eggs","milk","airborne","aquatic","predator","toothed","backbone","venomous","fins","legs","tail"]]
y= dados["class_number"]

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size= 0.25)

print("Treinaremos com %d elementos e testaremos com %d elementos" %(len(x_treino),len(x_teste)))

model = LinearSVC()
model.fit(x_treino,y_treino)

Treinaremos com 67 elementos e testaremos com 23 elementos

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

###Teste do modelo

In [4]:
previsoes = model.predict(x_teste)
acuracia = accuracy_score(y_teste, previsoes)*100

print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.65%

##Classificando novos dados

###Montando um DataFrame a partir de um dicionário

In [5]:
animais = [{
              "animal_name": "ferret",
              "hair": 1,
              "feathers": 0,
              "eggs": 0,
              "milk": 1,
              "airborne": 0,
              "aquatic": 0,
              "predator": 1,
              "toothed": 1,
              "backbone": 1,
              "venomous": 0,
              "fins": 0,
              "legs": 4,
              "tail": 1
            },
           {
              "animal_name": "dolphin",
              "hair": 0,
              "feathers": 0,
              "eggs": 0,
              "milk": 1,
              "airborne": 0,
              "aquatic": 1,
              "predator": 1,
              "toothed": 1,
              "backbone": 1,
              "venomous": 0,
              "fins": 1,
              "legs": 0,
              "tail": 1
            },
           {
              "animal_name": "cricket",
              "hair": 0,
              "feathers": 0,
              "eggs": 1,
              "milk": 0,
              "airborne": 1,
              "aquatic": 0,
              "predator": 0,
              "toothed": 0,
              "backbone": 0,
              "venomous": 0,
              "fins": 0,
              "legs": 2,
              "tail": 0
            }]
df = pd.DataFrame.from_dict(animais)
df.head()

  animal_name  hair  feathers  eggs  milk  ...  backbone  venomous  fins  legs  tail
0      ferret     1         0     0     1  ...         1         0     0     4     1
1     dolphin     0         0     0     1  ...         1         0     1     0     1
2     cricket     0         0     1     0  ...         0         0     0     2     0

[3 rows x 14 columns]

###Classificando os dados desconhecidos

In [6]:
x= df[["hair", "feathers","eggs","milk","airborne","aquatic","predator","toothed","backbone","venomous","fins","legs","tail"]]
df["class_number"] = model.predict(x)
df.head()

  animal_name  hair  feathers  eggs  ...  fins  legs  tail  class_number
0      ferret     1         0     0  ...     0     4     1             0
1     dolphin     0         0     0  ...     1     0     1             0
2     cricket     0         0     1  ...     0     2     0             5

[3 rows x 15 columns]